:root {
    --var-font-family: "Roboto", Arial, Tahoma, sans-serif;

    --var-primary-color: #302ae6;
    --var-secondary-color: #536390;
    --var-text-color: #32343d;
    --var-border-color: #b6b6b6;
    --var-background-color: #fff;
    --var-heading-color: #818cab;

    --var-nav-color: #32343d;
    --var-nav-background-color: #fff;
}

[data-theme="dark"] {
    --var-primary-color: #9a97f3;
    --var-secondary-color: #818cab;
    --var-text-color: #e1e1ff;
    --var-border-color: #585858;
    --var-background-color: #161625;
    --var-heading-color: #818cab;
}

html {
    font-family: var(--var-font-family);
    color: var(--var-text-color);
}

body {
    margin: 0;
    background-color: var(--var-background-color);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Overpass", "Roboto", Arial, Tahoma, sans-serif;
}

.a-title {
    text-decoration: none;
}

h1 {
    font-weight: normal;
    font-size: 3.121rem;
    margin: 1rem 0;
}

h2 {
    font-size: 1.414rem;
}

main, article {
    padding: 1rem 2rem;
    text-align: left;
    max-width: 34rem;
    margin: 0 auto;
}

article {
    & > small {
        display: inline-block;
        margin: 1rem 0;
    }

    & > img {
        width: 100%;
    }
}

.article-post {
    margin-top: 12vh;

    p {
        line-height: 1.625;
        font-size: 1.25rem;
    }

    blockquote {
        border-left: 2px solid var(--var-border-color);
        margin: 1rem 0 2rem 0;
        padding-left: 1rem;
        font-style: italic;
        font-size: 1.25rem;
    }

    img {
        max-width: 100%;
    }
}

nav {
    width: 100%;
    height: 40px;
    color: var(--var-nav-color);
    background-color: var(--var-nav-background-color);
    font-size: 1.1rem;
    padding: 1rem 0;
    text-align: center;
    transform-origin: top center;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 34rem;
    margin: 0 auto;
    border-bottom: 1px solid #e2e2e2;

    .logo a {
        margin-right: auto;
        display: flex;
        align-items: center;
        font-size: 1.3rem;
        font-weight: 500;

        img {
            margin-right: 1rem;
        }
    }

    ul {
        padding-left: 0;
        height: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;

        li {
            margin: 0 1.8rem;
            letter-spacing: .125px;
        }
    }

    a {
        color: var(--var-nav-color);
        list-style-type: none;
        text-decoration: none;
    }
}

.hero {
    text-align: center;

    p {
        font-size: 1.4rem;
        font-weight: 300;
    }
}

#logo {
    margin: 2rem;
}

.a-item {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 3.6rem 0;

    & > div:first-child {
        margin-right: 2rem;
    }

    img {
        max-width: 256px;
        width: 256px;
    }
}

img {
    border-radius: 3px;
    max-width: calc(90vw - 2rem);
}
