{{ define "main" }}
{{ partial "metadata.html" . }}
<article class="article-post">

    <img src="{{ .Params.Image.Src }}" alt="{{ .Params.Image.Alt }}" width="400" />

    <small>
        Posted on {{ .Date.Format "Jan 2 2006"}}.
    </small>

    {{ with .Params.tags }}
    <ul class="tags">
        {{ range . }}
        <li>
            <a href="/tags/{{ . | urlize }}">{{ . }}</a>
        </li>
        {{ end }}
      </ul>
    {{ end }}

    <div class="build-info">
        <a href="https://github.com/JoelCrosby/joel-crosby/commit/{{ .GitInfo.Hash }}" target="_blank" rel="noreferrer noopener">
            commit {{ substr .GitInfo.Hash 0 8  }}
        </a>        
    </div>

    <h1>{{ .Title }}</h1>
    <blockquote>{{ .Description }}</blockquote>

    {{ .Content }}
</article>
{{ end }}
