<nav>
    <div class="nav-container">
        <div class="logo">
            <a href="/">
                <img src="/android-chrome-192x192.png" alt="jocelcrosby.dev logo" width="32" height="32">
                <span>joelcrosby.dev</span>
            </a>

            <div class="nav-menu">
                <svg viewBox="0 0 100 64" width="24" height="24">
                    <rect width="100" height="8" rx="8"></rect>
                    <rect y="30" width="100" height="8" rx="8"></rect>
                    <rect y="60" width="100" height="8" rx="8"></rect>
                </svg>
            </div>
        </div>

        <ul>
            {{ range .Site.Menus.main }}
            <li>
                <a href="{{ .URL }}">
                    {{ .Name }}
                </a>
            </li>
            {{ end }}

            <li>
                <a href="https://github.com/joelcrosby" target=" _blank" rel="noreferrer noopener">
                    Github
                </a>
            </li>
            <li>
                <a href="https://netptune.co.uk" target="_blank" rel="noreferrer noopener">
                    Netptune
                </a>
            </li>
        </ul>

        <div class="theme-switch-wrapper">
            <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox" />
                <div class="slider round"></div>
            </label>
            <label class="theme-switch-label" for="checkbox">
                Dark Mode
            </label>
        </div>
    </div>
</nav>
