<!DOCTYPE html>
<html>
    <head>
        <title>{{.Page.Title}}</title>

        <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
        <link rel="manifest" href="/static/site.webmanifest">

        <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@600&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/generated/styles.css" />

        <script src="/generated/main.js" defer></script>
    </head>
    <body>

        <nav>
            <div class="logo">
                <a href="/">
                    <img src="/static/android-chrome-192x192.png" alt="jocelcrosby.dev logo" width="32">
                    <li>joelcrosby.dev</li>
                </a>
            </div>

            <ul>
                {{range $item := .Nav.Items}}
                    <a href="{{$item.Target}}" target="_blank" rel="noreferrer noopener">
                        <li>{{$item.Label}}</li>
                    </a>
                {{end}}
            </ul>

            <div class="theme-switch-wrapper">
                <label class="theme-switch" for="checkbox">
                    <input type="checkbox" id="checkbox" />
                    <div class="slider round"></div>
                </label>
                <label class="theme-switch-label" for="checkbox">
                    Dark Mode
                </em>
            </div>
        </nav>

        <article class="article-post">

            <img src="{{.Page.Img}}" width="400" />

            <small>
                Posted on {{.Page.Date.Format "Jan 2 2006"}}.
                Photo: {{.Page.Credit}}
            </small>

            <h1>{{.Page.Title}}</h1>
            <blockquote>{{.Page.Description}}</blockquote>

            <p>{{.Page.Content}}</p>
        </article>

    </body>
</html>
