<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{.Page.Title}}</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
        <link rel="manifest" href="/static/site.webmanifest">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Overpass:wght@300;400&display=swap" rel="stylesheet">

        <meta property="og:title" content="{{.Page.Title}}">
        <meta name="title" content="{{.Page.Title}}">
        <meta property="twitter:title" content="{{.Page.Title}}">

        <meta name="description" content="{{.Page.Description}}">
        <meta property="og:description" content="{{.Page.Description}}">
        <meta property="twitter:description" content="{{.Page.Description}}">

        <meta name="image" content="{{.Page.Img}}">
        <meta property="og:image" content="{{.Page.Img}}">
        <meta property="twitter:image" content="{{.Page.Img}}">

        <link rel="stylesheet" href="/generated/styles.css" />

        <script src="/generated/main.js" defer></script>
    </head>
    <body>

        <nav>
            <div class="nav-container">
                <div class="logo">
                    <a href="/">
                        <img src="/static/android-chrome-192x192.png" alt="jocelcrosby.dev logo" width="32">
                        <li>joelcrosby.dev</li>
                    </a>
                </div>

                <ul>
                    {{range $item := .Nav.Items}}
                        <a href="{{$item.Target}}">
                            <li>{{$item.Label}}</li>
                        </a>
                    {{end}}

                    <a href="https://github.com/joelcrosby" target=" _blank" rel="noreferrer noopener">
                        <li>Github</li>
                    </a>

                    <a href="https://netptune.co.uk" target="_blank" rel="noreferrer noopener">
                        <li>Netptune</li>
                    </a>
                </ul>

                <div class="theme-switch-wrapper">
                    <label class="theme-switch" for="checkbox">
                        <input type="checkbox" id="checkbox" />
                        <div class="slider round"></div>
                    </label>
                    <label class="theme-switch-label" for="checkbox">
                        Dark Mode
                    </em>
                </div>
            </div>
        </nav>

        <article class="article-post">

            <img src="{{.Page.Img}}" width="400" />

            <small>
                Posted on {{.Page.Date.Format "Jan 2 2006"}}.
                Photo: {{.Page.Credit}}
            </small>

            <h1>{{.Page.Title}}</h1>
            <blockquote>{{.Page.Description}}</blockquote>

            <p>{{.Page.Content}}</p>
        </article>

    </body>
</html>
